.button {
  font-size: 1em;
  flex: 1;
  height: 65px;
  border-radius: 0 5px 5px 0;
  font-weight: 700;
  background: #835afd;
  color: #fff;
  padding: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  transition: background 0.3s;

  &:hover {
    background: #7648ff;
  }
}
