header {
  max-width: 960px;
  margin: 60px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  >div {
    display: flex;
    align-items: center;
    
    span {
      font-weight: 700;
      font-size: 3.5em;
      margin-right: 15px;
    }
    
    ul {
        list-style: none;
    }
  }

  strong {
    font-size: 1.5em;
  }
}

main {
  form {
    display: flex;
    max-width: 960px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
  }

  input {
    font-size: 1.125em;
    border: 1.5px solid #ebecf0;
    background: #ebecf0;
    border-radius:5px 0 0px 5px;
    flex: 8;
    padding: 20px;
    margin-bottom: 30px;
  }
}

aside {
  max-width: 960px;
  margin: 0 auto;
}